<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="My SUite">
	<listeners>
		<listener class-name="org.bescent.automation.Oct2024SeleniumBatch.ListnerImpl"></listener>
	</listeners>
	<test thread-count="5" name="Test">
		<parameter name="appURL" value="https://www.saucedemo.com/"></parameter>
		<classes>
			<class
				name="org.bescent.automation.Oct2024SeleniumBatch.Class2Selenium" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
